:root{
    --primary-color:  #001446;
    --secondary-color: #cadeff;
    --color: #f4f4f4;
    --text-color: #333;
    --font-family: 'Arial', sans-serif;
    --button-color: #126bff;
}

nav{
    background-color:#f6765a;
    color: var(--color);
    padding: 10px;
    text-align: center;
}

header{
    background-color: var(--primary-color);
    color: var(--color);
    padding: 20px;
    text-align: center;
    font-family: var(--font-family);
    display: block;
}

#top-employers{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
}
 #top{
    color: var(--button-color);
    font-size: 20px;
 }



#top-employers div{

    text-align: center;
    padding: 30px;
    

}

h1{
    text-align: center;
    font-size: 50px;
}

#details{
    background-color: var(--secondary-color);
    
    background-color: #f6faff;
}

#expertises{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
    background-color: #f6faff;
}

#testimonials{
    text-align: center;
    background-color: var(--primary-color);
    color: var(--color);
    padding: 10px;
}

#testimonials-content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
    padding: 100px 0;
}

#testimonials-content div{
    background-color: white;
    color: black;
    padding: 40px 30px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    
}
#testimonials-content p{
    font-size: 14px;
    line-height: 1.5;
}

#testimonials-content img{
    width: 240px;
    height: 240px;
    
    margin-bottom: 20px;
}

#Overview{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    padding: 100px 0;
}
#Overview img{
    width: 370px;
    height: 448px;

    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin-bottom: 20px;
    margin-left: 200px;
}

#work{
    background-color: #f6faff;
}
#work h1,p{
    text-align: center;
}

#how-it-works{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    background-color: #f6faff;
    
}

#how-it-works div{
    text-align: center;
    padding: 20px;
    
    color: black
   
}

#how-it-works img{
    width: 389px;
    height: 389px;
  
}



#Jordan{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    background-color: var(--primary-color);
    color: var(--color);
    text-align: center;
    padding: 90px 0;
}

#Jordan img,#Cynthia img{
    width: 390.61px;
    height: 473.22px;
    
}

#Cynthia{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    text-align: center;
    padding: 90px 0;
    background-color: #f6faff;
}

#percentage{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    gap: 20px;
}
button{
    background-color: var(--button-color);
    color: var(--color);
    padding: 15px 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: var(--font-family);
    font-size: 14px;
    margin-bottom: 15px;

}

#plans-container{
    background-color: var(--primary-color);
    color: var(--color);
    padding: 20px;
    text-align: center;
    font-family: var(--font-family);
}

#plans{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    gap: 20px;
    padding: 20px;
}
#plans div{
    background-color: white;
    color: black    ;
}

footer{
    background-color: var(--primary-color);
    color: white;
    text-align: center;
}

.member-card{
    margin: 20px;
}
#plans-container #most{
    background-color: var(--button-color);
    padding: 15px;
    color: white
}
