
    
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color:antiquewhite;
}

#nav {
display: grid;
    grid-template-columns: 1fr 1fr;
    
    padding: 10px;
    background-color: #f8f9fa;
}
main{
    display: grid;
    grid-template-columns: 1fr auto;
    

}

.header-content{
    background-color: black;
}

#sidebar {
    background-color: #f4f4f4;

    width: 250px;
 
    padding: 15px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

#sidebar-content {
    display: flex;
    flex-direction: column;
    background-color: #f8f9fa;
    border-radius: 5px; 
}

#sidebar-content h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

#sidebar-content ul {
    list-style: none;
    padding: 0;
}

#sidebar-content ul li {
    margin-bottom: 8px;
}

#sidebar-content ul li a {
    text-decoration: none;
    color: #333;
}

#sidebar-content ul li a:hover {
    text-decoration: underline;
}

.Overview2{
    background-color: black;
}

#sidebar-content {
    padding: 10px;

}
#sidebar-content li:hover {
    background-color: #e0e0e0;
    padding: 15px;
    margin-left: 0;
    text-decoration: none;
}
#sidebar-content li {
    padding: 15px;
    border-radius: 5px;
}

#Dashboard{
    background-color: #f4f4f4;
    
    border-radius: 5px;
    margin-top: -20px;
}

#sidebar-content ul{
    background-color: antiquewhite;
}

#sidebar-content a:hover {
    text-decoration: none;
}

#crypto-news{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    background-color: #161616;
    color: black;
    overflow: hidden;
    transform: scale (1.5);

    
}

#crypto-news li{
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 12px;
}
#crypto-news li::after{
    content:"" ;
    z-index:-1 ;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #333;
    left: 0;
    top: 0  ;
    border-radius: 10px;
    bottom: 0;

}

/*glow effect*/
#crypto-news li:hover::before {
    content: "";
   background: linear-gradient(45deg,#FF0000,#FF7300,#FFFB00,#48FF00,#00FFD5,#002BFF,#FF00C8,#FF0000);
   position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    z-index: -1;
    background-size: 600px;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    filter: blur(8px);
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
    opacity: 1;

}
@keyframes glowing {
    0% {
        background-position: 0,0;
    }
    50% {
         background-position: 400%,0;
    }
    100% {
        background-position: 0,0;
    }
}

#crypto-news li:active:after{
    background: transparent;
}
#crypto-news li{
    color: white;
    font-weight: bold;
}


#crypto-news ul {
    
    padding: 0;
    margin: 0;
}
#crypto-news li {
    background-color: white;
    padding: 10px;
    border-bottom: 1px solid #eee;
    list-style: none;
}
